@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}

body{
	font-family: Roboto, "Roboto Medium";
	color: seashell;
	background-color: sienna;
}

h1{
	font-weight: bold;
	font-size: 2em; 
}

h2{
	font-weight: 500;
	font-size: 1.6em;
}

h3{
	font-weight: bold;
	font-size: 1.4em;
}

h4{
	font-weight:500;
	font-size: 1.2em;
}

a{
	color: seashell;
}

a:hover{
	color: sienna;
	font-size: 1em;
}

header{
	display: flex;
	background-color: peru;
	padding: 1em;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}

.nombre{
	display: flex;
	align-items: center;
}

nav ul li{
	display: inline;
	padding: 0.5em;
	border: 3px solid seashell;
	border-radius: 10px;
}

footer{
	background-color: peru;
	padding: 1em;
	text-align: center;
}

/*formulario de servicios */
form{
	width: 100%;
	height: auto;
	border: 3px solid seashell;
	display: flex;
	flex-wrap: wrap;
}
form div{
	width: 50%;
	height: auto;
	padding: 1em;
}
label{
	display: block;
	height: 2em;
}
input{
	width: 100%;
	height: 2em;
	background-color: seashell;
	margin-bottom: 1em;
}
input[type=radio]{
	width: auto;
	height: auto;
	
}

@media (max-width:600px){
	header{
		flex-direction: column;
	}
}