@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
body{
	font-family: Roboto, "Roboto Medium";
	color: seashell;
	background-color: sienna;
}
h1{
	font-weight: bold;
	font-size: 3em; /* bien! */
}
h2{
	font-weight: 500;
	font-size: 2em;
	padding: 20px 0px;
}
a{
	color:sandybrown;
}
a:hover{
	color: peru;
	font-size: 1em;
}
h3{
	font-weight: bold;
	font-size: 1.4em;
	padding: 20px;
	text-align: center;
}
h4{
	font-weight:500;
	font-size: 1.2em;
}
.flex {
	display: flex;
}
main{
	align-items:center;
	flex-direction: column;
}
header img{
	margin: 30px;
	border-radius: 30px;
}
#perfil{
	border: solid;
	border-color: seashell;
	border-width: 4px;
	border-radius: 30px;
	padding: 20px;
	margin: 30px;
	max-width: 1000px;
	align-items: center;
}
#perfil p{
	font-size: 1em;
	margin: 30px;
}
#habilidades{
	background-color: peru;
	border-radius: 15px;
	padding: 15px 30px;
	width: 200px;
	margin: 0px 15px;
}
.contenedor{
	display: flex;
	align-items: center;
	justify-content: center;
}
.imagen{
	padding: 10px;
}
.informacion{
	padding: 10px;
}
.contenedor2{
	width: 100%;
	height: 300px; /* las alturas fijas no están buenas, fijate si podés lograr la altura con algún margin y que sea el contenido el que determine el tamaño de las cajas */
	display: flex;
	align-items: center;
	align-items: flex-start;
	flex-direction: row;
	justify-content: center;
}
.estudio{
	padding: 20px;
	margin: 0px 30px;
	max-width: 300px;
}
.experiencia{
	padding: 10px;
	max-width: 300px;
}
.habilidades{
	padding: 10px;
	max-width: 300px;
}
footer{
	background-color: peru;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 15px;
}
